.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
CONTRIBUTING.md

webviews/node_modules/**
webviews/dist/**
!webviews/node_modules/@vscode/webview-ui-toolkit
!webviews/node_modules/@vscode/codicons

client/node_modules/**
client/dist/**

server/node_modules/**
server/dist/**
