**/*
!README.md
!LICENSE.md
!CHANGELOG.md
!assets/**
!client/dist/main.js
!server/dist/main.js
!fountain-docs/**
!language-configuration.json
!package.json
!syntaxes/fountain.tmLanguage.json
!webviews/assets/**
!webviews/dist/**/*.svg
!webviews/dist/**/*.ttf
!webviews/dist/**/*.bundle.js
!webviews/index.html
!webviews/node_modules/@vscode/webview-ui-toolkit/dist/toolkit.js
