vscode-data-grid {
	min-height: 3rem;
	margin-top: 1rem;
}

vscode-data-grid vscode-data-grid-row:nth-child(even) {
	background: var(--vscode-list-dropBackground);
}

vscode-data-grid vscode-data-grid-row:hover {
	background: var(--vscode-list-hoverBackground);
}

vscode-data-grid-cell.column-header {
    line-height: 3rem;
    color: white;
    font-size: calc(var(--type-ramp-base-font-size) + 2px);
}

vscode-data-grid-row {
	min-height: 3rem;
}

vscode-data-grid-row.header,
vscode-data-grid-row.header:hover {
    background: #47B6FF;
    color: white;
	border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

vscode-button {
	border-radius: 2px;
}